nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav ul {
    font-size: bold;
    font-size: x-large;
    display: flex;
    margin-top: 20px;
    margin: 0;
    list-style: none;
    padding: 0;
}

/* Styling for each list item in the navigation */
nav ul li {
    display: inline-block;
    width: 49%;
    padding: 1em;
    box-sizing: border-box;
    border-right: 1px solid #000;
    text-align: center;
    text-transform: uppercase;
}

nav ul a {
    color: rgb(9, 21, 15);
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    border: right;
    border: left;
}

.radio-options {
    display: inline-block;
    margin-right: 10px;
}

/* Styling for unordered list items */
av ul li {
    border-bottom: 1px solid #000000;
    padding: 10px;
}

nav ul li:last-child {
    border: none;
}

#wsf {
    max-width: 100%;
    align-self: flex-start;
}

main {
    padding: 0 10px;
}

h1 {
    position: absolute;
    top: 10%;
    left: 40%;
    color: white;
}

.texerea {
    width: bold;
}

html {
    background-color: #aad4cf;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 0;
    background-color: #cff4ef;
    margin-top: 0;
}

#name,
#email,
textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
}

.container {
    border: 2px solid #000;
    padding: 20px;
    text-align: left;
}

.custom-button {
    border: 2px solid #000;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 0%;
    cursor: pointer;
}

img#sf {
    width: 120px;
    height: auto;
    float: left;
    margin-right: 20px;
}

/* Styling for form labels, inputs, and textareas */
form label,
form input,
form textarea {
    display: block;
    margin-bottom: 10px;
}

footer {
    text-align: right;
}