 
 /* font-family: 'Open Sans', sans-serif; */
 body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
 }

 .header-banner{
    display: flex;
  padding: 10px;
  background-color: black;
 }

 .nav-list{
    color: #c78c06;
 }
 

.message{
   display: flex;
}
#about-us{
   background-color: #c78c06;
}

.card{
background-color: #c78c06;

}

 h1{


 }
 
 h2{

 }
 
 h3{

 }
 
    
   