 
 /* font-family: 'Open Sans', sans-serif; */
 body{
    font-family: 'Open Sans', sans-serif;
 }

 .nav-list{
    display: flex;
  padding: 10px;
  background-color: black;
tex
 }

 h1{

 }
 
 h2{

 }
 
 h3{

 }
 
    
   